/************************************************************************/
/* Web del romanticismo - hoja de estilo de autores con foto de fondo   */
/* Autor: Jesús Herrera Sánchez                                         */
/* Version 1.0 - 8/11/2022                                              */
/************************************************************************/

/******************** estilo general ******************/

@font-face {
    font-family: escritura;
    src: url('../fonts/Courgette-Regular.ttf')
}

body {font-family:escritura;
        font-size: 1.2em;
        /* Ahora colocamos una sola imagen de buena calidad de fondo */
        background-image:url('../images/10745590.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-color: #15130d;
        background-position: 66%; }

#wrapper {
    color: white;
    margin-left:5%;
}

        